DB_HOST=localhost
DB_PORT=5434
DB_USERNAME=postgres
DB_PASSWORD=postgres_local
DB_DATABASE=taskflow_catalog
DB_SYNCHRONIZE=true
JWT_SECRET=replace_with_the_same_secret_as_user_service
RABBITMQ_URL=amqp://taskflow:taskflow_local@localhost:5672
RABBITMQ_QUEUE=catalog_queue
RABBITMQ_EXCHANGE=catalog_exchange
RABBITMQ_DLX=catalog_dead_letter_exchange
RABBITMQ_DLQ=catalog_dead_letter_queue
RABBITMQ_DLQ_ROUTING_KEY=catalog.dead
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CACHE_PREFIX=catalog
BULL_PREFIX=catalog
